.texto-menor{
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

#icon-facilidade{
    color: #DAFF01;
}

a.botao-vermais{
    background-color: #9353FF;
}

a.botao-vermais:hover{
    background-color: #823ff6;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top: 50%;
    }
}
